@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
  li a {
    display: block;
    padding: 5px;
    color: rgb(237, 225, 238);
    font-family: 'Righteous';
     
  }

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 10%; 
  background-color: #7C1DC9;
  font-family: 'Righteous';

}
#logo{
 color: aliceblue; 
 font-family: 'Righteous';
}
.nav_links{
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0 10px;
}
h1{
  color: white;
  size: 30px;
}
.content{
  display: grid;
  column-gap: 0px;
  grid-template-columns: auto auto;
  size: 26px;
  
}
#text{
  padding: 25px;
  background-color: #3A0763;
 
}

button{
  color: aliceblue;
  background-color: #7C1DC9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}
