*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
  li a {
    display: block;
    padding: 8px;
    color: rgb(237, 225, 238);
     
  }

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 30px 10%; 
  background-color: rgb(45, 32, 58);

}
.logo{
  cursor: pointer;
}
.nav_links{
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0 20px;
}
h1{
  color: white;
}
.content{
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  size: 26px;
  
}
#text{
  padding: 25px;
  background-color: #3A0763;
}


